body {
  display: flex;
  margin: 0 auto;
  color: white;
  background-color: black;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.calculator {
    height: 600px;
    width: 400px;
    border: solid 2px white;
}

.display {
    height: 70px;
    width: auto;
    border: solid 2px white;
}

.button-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

.button-box button:last-child {
    display: grid;
    grid-column: span 2;
}


button {
    padding: 40px;
}
