body {
  display: flex;
  margin: 0 auto;
  color: white;
  background-color: rgb(44, 44, 44);
  font-family: "Roboto", sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Calculator Box */
.calculator {
  height: 600px;
  width: 400px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  padding: 60px 50px;
  gap: 30px;
  background: #616161;
  background: linear-gradient(
    180deg,
    rgba(97, 97, 97, 1) 0%,
    rgba(61, 61, 61, 1) 30%,
    rgb(32, 32, 32) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.7) 0px -5px 0px inset;
}

/* Display Grid */
.display {
  height: 100px;
  width: auto;
  border-radius: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  font-size: 4rem;
  font-weight: 400;
  background-color: rgb(20, 20, 20);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.5) 0px -3px 0px inset;
}

/* Button Grid */
.button-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
  flex: 1;
}

/* All buttons */
.button-box button {
  border-radius: 50%;
  width: 100%;
  height: 100%; 
  background-color: gray;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.5) 0px -3px 0px inset;
}

/* All buttons hover */
.button-box button:hover {
  border-radius: 50%;
  width: 100%;
  height: 100%; 

  opacity: 0.7;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 50%;
}

/* Clear button */
.button-box button:first-child {
  grid-column: span 3;
  border-radius: 30px;
  background-color: darkred;
}

/* Equals button */
.button-box button:last-child {
  grid-column: span 2;
  border-radius: 30px;
  background-color: rgb(53, 53, 212);
}

/* Operator buttons */
button.operator {
    background-color: orangered;
}
